a{
	font-weight: bold;
	font-size: 24px;
	background-color: brown;
	color: white;
	padding: 5px 15px;
	border-radius: 50px;
    cursor: pointer;
}
a:hover{
	background-color: white;
    color: black;
}

nav{
	display: flex;
	justify-content: space-around;
	align-items: center;
	font-family: Helvetica;
	z-index: 1;
	position: fixed;
}
header h1{
	margin-right: 80px;
	margin-top: -450px;
	margin-left: 180px;
	font-size: 75px;
	font-style: italic;
	color: white;
}
footer {
  margin-top: 1200px;	
  background-color:rgb(138, 85, 12);
  color: rgba(255, 255, 255, .8);
  padding: 75px;
  text-align: center;
  position: absolute;
  width: 1375px;
  height: 100px;
}
.form{
  position: absolute;	
  background-image:url(cuter.JPG);
  width: 700px;
  border: 5px solid green;
  padding: 35px;
  margin: 20px;
  margin-top: 400px;
  margin-left: 360px;
} 
#title{
	font-size: 25px;
	position: absolute;
	margin-top: 270px;
	margin-left: 350px;
} 
#submit{
	position: absolute;
	margin-left: 300px;
	margin-top: 30px;
}