a{
	font-weight: bold;
	font-size: 24px;
	background-color: brown;
	color: white;
	padding: 5px 15px;
	border-radius: 50px;
    cursor: pointer;
}
a:hover{
	background-color: white;
    color: black;
}

nav{
	display: flex;
	justify-content: space-around;
	align-items: center;
	font-family: Helvetica;
	z-index: 1;
	position: fixed;
}
header h1{
	margin-right: 80px;
	margin-top: -450px;
	margin-left: 180px;
	font-size: 75px;
	font-style: italic;
	color: white;
}
footer {
  margin-top: 1000px;	
  background-color:rgb(138, 85, 12);
  color: rgba(255, 255, 255, .8);
  padding: 75px;
  text-align: center;
  position: absolute;
  width: 1375px;
  height: 100px;
}
body{
	background-color: rgb(158, 122, 49);
}
#video{
	position: absolute;
	margin-top: 350px;
	margin-left: 270px;
}
#write{
	font-size: 25px;
	position: absolute;
	margin-top: 270px;
	margin-left: 350px;
}